<div class="footer fixed-bottom">
  <p class="text-center">©2020 Juan Nicolas Ramirez Julio</p>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <a class="gen" target="_blank" href="https://www.facebook.com/"><i class="fa fa-facebook fa-2x"></i></a>
      </div>
      <div class="col-sm">
        <a class="gen" target="_blank" href="https://www.instagram.com/juanramirez_81/"><i class="fa fa-instagram fa-2x"></i></a>
      </div>
      <div class="col-sm">
        <a class="gen" target="_blank" href="https://twitter.com/explore"><i class="fa fa-twitter fa-2x"></i></a>
      </div>
    </div>
  </div> 
</div>
