<div class="container">
    <h1 class="text-center">Bienvenido a EduBIT!</h1>
    <p class="text-center customText">Una aplicación para manejar sus registros de estudiantes. Conoce nuestros beneficios!</p>
    <section class="cardContainer">
        <div class="card-group">
          <div class="card c1" style="width: 18rem;">
            <div class="card-body d-flex flex-column">
              <i class="fa fa-money fa-5x genIcon" aria-hidden="true"></i>
              <h5 class="card-title">Bajo Precio</h5>
              <p class="card-text">Te aseguramos la mejor calidad a los mejores precios del mercado. Una apuesta buena, bonita y barata! </p>
            </div>
          </div>
    
          <div class="card c2" style="width: 18rem;">
            <div class="card-body d-flex flex-column">
              <i class="fa fa-clock fa-5x genIcon" aria-hidden="true"></i>
              <h5 class="card-title">Rápidez en las Operaciones</h5>
              <p class="card-text">Tu registro de estudiantes nunca fue tan rapido! Con tan solo algunos clicks podrás agregar, editar o eliminar estudiantes de tus cursos!</p>
            </div>
          </div>
    
          <div class="card c3" style="width: 18rem;">
            <div class="card-body d-flex flex-column">
                <i class="fa fa-mouse fa-5x genIcon" aria-hidden="true"></i>
                <h5 class="card-title">Prueba Gratis</h5>
                <p class="card-text">Para garantizar tu satisfacción con el producto, te ofrecemos una prueba gratis justo aquí en esta pagina. Dale click a las opciones de la barra de navegación y atrévete a probar!</p>
            </div>
            </div>
          </div>
      </section>
</div>
