<div class="container">
    <h1>Agrega un Estudiante</h1>
    <p class="text-justify">Agregar un estudiante nunca ha sido más sencillo. Llena los nombres del estudiante con su número de documento y edad en los campos y presiona enviar!</p>
    <div class="flex-center">
        <div class="card">
            <div class="card-header">
            Formulario
            </div>
            <div class="card-body">
                <h5 class="card-title">Estudiante Nuevo</h5>
                <form #createStudentsForm="ngForm" (ngSubmit)="addStudent()">
                    <div class="form-group">
                        <input class="form-control" type="text" id="firstName" placeholder="Primer Nombre" required
                        #firstName="ngModel" name="firstName" [(ngModel)]="registeredStudent.firstName">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" id="lastName" placeholder="Apellido" required
                        #lastName="ngModel" name="lastName" [(ngModel)]="registeredStudent.lastName">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="number" id="document" placeholder="Documento" required
                        #document="ngModel" name="document" [(ngModel)]="registeredStudent.document">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="number" id="age" placeholder="Edad" required
                        #age="ngModel" name="age" [(ngModel)]="registeredStudent.age">
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</div>
